@import url("https://fonts.googleapis.com/css2?family=Aleo:ital@1&display=swap");

@import "components/cursos";
@import "components/comunidad";
@import "components/registrarse";
@import "components/acceder";
@import "components/navbar";
@import "components/footer";

/* --------------------------General------------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Aleo", serif !important;
}

.background-index {
  background-image: url("../images/index/background.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.container-background {
  width: 80vw;
  height: 75vh;
  background-color: #cbcdcdb3;
  border-radius: 10px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.container-left__index {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 5rem;
}

.container-left__index {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 2rem;
}
